VERSION=latest
DOMAIN=tu-dominio.com
MYSQL_HOST=db
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_seguro
MYSQL_DB=flaskcrud
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=tu_password_seguro
MYSQL_DATABASE=flaskcrud
